<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <title>Estadísticas</title>
</head>
<body>
    <!-- <p>{{datos}}</p> -->
    <div class="graph">
        <h1>Estadísticas Generales</h1>
        <div>
            <canvas id="barchart" width="900" height="400"></canvas>
            <script>
                var chartOptions = {
                    legend: {
                        display: false
                    },
                    responsive: false,
                    scales: {
                        xAxes: [{
                        barPercentage: 1,
                        categoryPercentage: 0.6
                        }],
                        yAxes: [{
                            ticks:{
                                beginAtZero: true,
                            },
                            id: "y-axis-cant"
                        },]
                    }
                    };
                var ctx = document.getElementById("barchart").getContext("2d");
                var barchart = new Chart(ctx,{
                    type: "bar",
                    data: {
                        labels: {{ datosGen[0] | safe }} ,
                        datasets: [
                            {
                                label: 'Equipos',
                                data: {{ datosGen[1] | safe }} ,
                                backgroundColor: ["rgb(75,192,192)","rgb(75,192,75)","rgb(192,75,75)"],
                                // fill: true,
                                borderColor: ["rgb(75,192,192)","rgb(75,192,75)","rgb(192,75,75)"],
                                // lineTension: 0.1
                            },
                        ]
                    },
                    options: chartOptions,
                });
            </script>
        </div>
    </div>
    <form id="numActForm" action="/individual" method="POST">
            <div class="formulario">
                <select name="numAct" id="numAct">
                <option value="0">->Seleccionar Número de Activo <-</option>
                {% for n in numActs%}
                <option value="{{n}}">{{n}}</option>
                {% endfor %}
                </select>
                <div class="v-btn-group">
                    <input id="editar" class="button--edit" type="submit" value="Ver Datos">
                    <input class="button--edit" type="button" value="Volver" onclick="window.open('/menu_principal','_self')">
                </div>
            </div>
    </form>

</body>
</html>