<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mi Perfil</title>
</head>
<body>
    <div class="user--box">
        <h1>Mi Perfil</h1>
        <!-- <p>{{user}}</p> -->
        <div class="user--container">
            <h3>Nombre:</h3>
            <p>{{user[0][0]}}</p>
            <h3>No. Documento:</h3>
            <p>{{user[0][1]}}</p>
            <h3>Cargo:</h3>
            <p>{{user[0][2]}}</p>
            <h3>Celular:</h3>
            <p>{{user[0][3]}}</p>
        </div>
        <div class="btn-group">
            <input class="button--edit" type="button" value="Volver" onclick="window.history.go(-1); return false;">
            <input class="button--edit" type="button" value="Editar">
        </div>

    </div>
</body>
</html>